In [1]:
import datetime as dt
print(dt.datetime.now())

2020-05-12 20:58:45.035000

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_confirmed_cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/C" +
                  "OVID-19/master/csse_covid_19_data/csse_covid_19_ti" +
                  "me_series/time_series_covid19_confirmed_global.csv")
df_recovered_cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVI" +
                  "D-19/master/csse_covid_19_data/csse_covid_19_time_ser" +
                  "ies/time_series_covid19_recovered_global.csv")

In [4]:
df_confirmed_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,2469,2704,2894,3224,3392,3563,3778,4033,4402,4687
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,789,795,803,820,832,842,850,856,868,872
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,4295,4474,4648,4838,4997,5182,5369,5558,5723,5891
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,747,748,750,751,751,752,752,754,755,755
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,35,35,35,36,36,36,43,43,45,45

In [5]:
df_recovered_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,331,345,397,421,458,468,472,502,558,558
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,519,531,543,570,595,605,620,627,650,654
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1872,1936,1998,2067,2197,2323,2467,2546,2678,2841
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,472,493,499,514,521,526,537,545,550,550
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,11,11,11,11,11,11,11,13,13,13

In [6]:
start_date = '1/22/20'
# Needed because of daily updates on database which cannot be updated yet
# where the date of "today" has not been updated.
# So, for practicity, we get one day before. We could get the last columns as well.
end_date = (dt.datetime.today() - dt.timedelta(days=1)).strftime('%-m/%d/%y')

In [9]:
countries = ['US', 'Spain', 'Italy', 'China', 'Brazil']
df_countries = df_confirmed_cases.loc[df_confirmed_cases['Country/Region'].isin(countries)]
df_countries = df_countries.groupby(['Country/Region']).sum()
df_countries = df_countries.loc[:, start_date:end_date]

In [10]:
df_countries

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Brazil,0,0,0,0,0,0,0,0,0,0,...,97100,101826,108620,115455,126611,135773,146894,156061,162699,169594
China,548,643,920,1406,2075,2877,5509,6087,8141,9802,...,83959,83964,83966,83968,83970,83975,83976,83990,84010,84011
Italy,0,0,0,0,0,0,0,0,0,2,...,209328,210717,211938,213013,214457,215858,217185,218268,219070,219814
Spain,0,0,0,0,0,0,0,0,0,0,...,216582,217466,218011,219329,220325,221447,222857,223578,224350,227436
US,1,1,2,2,5,5,5,5,5,7,...,1132539,1158040,1180375,1204351,1229331,1257023,1283929,1309550,1329260,1347881