In [39]:
import datetime as dt
print(dt.datetime.now())

2020-05-11 21:14:16.690080

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
df_confirmed_cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/C" +
                  "OVID-19/master/csse_covid_19_data/csse_covid_19_ti" +
                  "me_series/time_series_covid19_confirmed_global.csv")
df_recovered_cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVI" +
                  "D-19/master/csse_covid_19_data/csse_covid_19_time_ser" +
                  "ies/time_series_covid19_recovered_global.csv")

In [42]:
df_confirmed_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,2335,2469,2704,2894,3224,3392,3563,3778,4033,4402
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,782,789,795,803,820,832,842,850,856,868
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,4154,4295,4474,4648,4838,4997,5182,5369,5558,5723
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,745,747,748,750,751,751,752,752,754,755
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,30,35,35,35,36,36,36,43,43,45

In [43]:
df_recovered_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,310,331,345,397,421,458,468,472,502,558
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,488,519,531,543,570,595,605,620,627,650
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1821,1872,1936,1998,2067,2197,2323,2467,2546,2678
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,468,472,493,499,514,521,526,537,545,550
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,13,13

In [47]:
start_date = '1/22/20'
# Today
today_date = dt.datetime.today().strftime('%m/%d/%y')
print(today_date)

05/11/20